/* Text shop h1 element */
.ShopTextMove11 {
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out;
    text-shadow: -2px 7px 0px rgba(0,0,0,0.15);

  }
  
  .ShopTextMove11.scrolled {
    transform: translateX(25%) scale(1.5);
    text-shadow: -2px 7px 0px rgba(0,0,0,0.15);

  }


/* AboutUs text Left right*/
#TextMoveAboutUs{
  animation: MoveTextShop1 2s ease-in-out;
}

@keyframes MoveTextShop1  {
  from {
      transform: translateX(-100%);
      opacity: 0.9;
  
  }
  to {
      transform: translateX(0);
      opacity: 1;
      text-shadow: -2px 7px 0px rgba(0,0,0,0.15);

  }
}


/* Contact us for any questions or other requests */
#support, #dimensions, #print, #ZdravkOPhotoGraphy {
 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: -1px 3px 15px 0px rgba(0,0,0,0.35) inset;
  -webkit-box-shadow: -1px 3px 15px 0px rgba(0,0,0,0.35) inset;
  -moz-box-shadow: -1px 3px 15px 0px rgba(0,0,0,0.35) inset;
  z-index: 9999;
  transition: transform 0.3s;
  animation: MoveClickAboutText 1s ease-in-out;
}
/* Contact us for any questions or other requests click hover  */
@keyframes MoveClickAboutText  {
  from {
      opacity: 0;
      transform: scale(0.1);
  
  }
  to {
    opacity: 1;

  }
}

/* Contact us for any questions or other requests click hover  */
.PhotoHoverContactUs:hover{
  opacity: 0.8;
  transform: scale(1.1);
}

.PhotoHoverContactUs{
  transition: transform 0.3s;
}

/* Zdravko Petkovski
ZdravkOPhotoGraphy Me@ZdravkOPhotoGraphy.com hover zoom photo */
.image-container {
  position: relative;
  display: inline-block;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .hover-image {
  opacity: 1;
}
/* Zdravko Petkovski
ZdravkOPhotoGraphy Me@ZdravkOPhotoGraphy.com hover zoom photo */
.newPhoto{
  width: 100%;
  margin-top: -12px;
  margin-left: -1%;
 
}


