/* Text shop h1 element */
.BlogTextMove11 {
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out;
    text-shadow: -2px 7px 0px rgba(0,0,0,0.15);
  
  }
  
  .BlogTextMove11.scrolled {
    transform: translateX(25%) scale(1.5);
    text-shadow: -2px 7px 0px rgba(0,0,0,0.15);
  
  }
  
  
  /* AboutUs text Left right*/
  #TextMoveContact{
    animation: MoveTextShop1 2s ease-in-out;
  }
  
  @keyframes MoveTextShop1  {
    from {
        transform: translateX(-100%);
        opacity: 0.9;
    
    }
    to {
        transform: translateX(0);
        opacity: 1;
        text-shadow: -2px 7px 0px rgba(0,0,0,0.15);
  
    }
  }
  
  
  .nav {
    list-style-type: none;
    
    
  }
  
  .nav-link {
    text-decoration: none;
    color: black; /* Change color as needed */
  }
  
  .nav-link.active {
    border-bottom: 4px solid rgb(255, 213, 0); /* Change color and style as needed */
    
  }
  
  
  
  /* Slideshow container */
  #slideshow1 img {
    display: none; /* Hide images by default */
  }
  
  /* fade za Login  */
  .fade-image {
    opacity: 0;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8);
      box-shadow: rgb(0, 0, 0) 1px 1px 10px;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .cart-product-image {
    width: 100px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

.cart-product-image:hover{
  opacity: 0.7;
}


/* Quantity input styling */
.quantity-input {
  width: 60px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* Button styling */
.product-remove button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.product-remove button:hover {
  background-color: #c82333;
}

#cart-count {
  display: inline-block;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 0px 10px;
    border-radius: 50%; /* Makes the element circular */
 
}


#empty-cart-message {
  text-align: center;
  color: #ff0000; /* Red color for the message text */
  font-size: 18px;
  margin: 20px 0;
  font-weight: bold;
}

.proceed-checkout-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  
}

.no-drop {cursor: no-drop;}


/* Modal styles */
/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow:auto!important;  
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #e9e9e900;
    margin: 5% auto; 
    padding: 0px;
    border: none;
    width: 80%; 
     display: block;
     
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image-container {
  text-align: center;
}

.image-container img {
  width: 100%;
  max-width: 800px;
  cursor: pointer;
}

/* Style for the prev and next buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 6px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 38px;
  margin: 5%;
  margin-top: -150px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 1px 1px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Product name styling */
#modal-product-name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #a8a3a3;
}

/* Disable horizontal scroll when modal is open */
body.modal-open {
  overflow-x: hidden !important;
}

/* Media Query for Desktop Devices (1512 x 639) */
@media only screen and (min-width: 1200px) {
  .prev, .next {
      margin-top: -35%;
      
  
  }
}

@media only screen and (min-width: 560px) {
  .prev {
      margin-top: 1%!important;
      margin-left: -2%;

      
  
  }
}
@media only screen and (min-width: 560px) {
  .next {
      margin-top: 1%!important;
      margin-right: -2%;
      
      
  
  }
}

@media only screen and (min-width: 1200px) {
  .prev {
      margin-top: 1%!important;
      margin-left: 7%;

      
  
  }
}
@media only screen and (min-width: 1200px) {
  .next {
      margin-top: 1%!important;
      margin-right: 7%;
      
      
  
  }
}

@media only screen and (min-width: 644px) {
  .prev, .next {
      margin-top: -35%;
  
  }
}
@media only screen and (min-width: 300px) {
  .prev, .next {
      margin-top: -45%!important; 
  
  }
}
@media only screen and (min-width: 300px) {
  .prev, .next {
      margin-top: -20%!important; 
  
  }
}

#TextMoveContact {
  display: inline-block;
}

.custom-hr {
  width: 11ch; /* The width will match the number of characters in the word "Cart" */
  border: none;
  border-top: 1px solid black; /* Adjust the color and style as needed */
  margin-left: calc(5% -  0.5ch); /* Center the hr based on its width */
}



.modal-content {
  position: relative!important;
  max-width: 135%!important;
  background-color: transparent!important;
  border: none!important; 
}


/* ova popravka za sreach modal */
.modal-content {
 
  margin: 5% auto!important; 
  padding: 20px!important;
  border: 1px solid #888!important;
  width: 80%!important;
  display: block!important;
}