/* Text shop h1 element */
.BlogTextMove11 {
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out;
    text-shadow: -2px 7px 0px rgba(0,0,0,0.15);

  }
  
  .BlogTextMove11.scrolled {
    transform: translateX(25%) scale(1.5);
    text-shadow: -2px 7px 0px rgba(0,0,0,0.15);

  }


/* AboutUs text Left right*/
#TextMoveContact{
    animation: MoveTextShop1 2s ease-in-out;
  }
  
  @keyframes MoveTextShop1  {
    from {
        transform: translateX(-100%);
        opacity: 0.9;
    
    }
    to {
        transform: translateX(0);
        opacity: 1;
        text-shadow: -2px 7px 0px rgba(0,0,0,0.15);
  
    }
  }

  #ButtonColor {
    background-color: #dca50d;
    color: #000;
    animation: slideInRightLeft 1s ease-out;
  }


/* za fade na contact */
  .fade-image {
    opacity: 0;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @media (max-width: 1420px) {
  .service{
    overflow-y: auto !important;
    
  }
}


/* AboutUs text Left right*/
#TextMoveContact{
  animation: MoveTextShop1 2s ease-in-out;
}

@keyframes MoveTextShop1  {
  from {
      transform: translateX(-100%);
      opacity: 0.9;
  
  }
  to {
      transform: translateX(0);
      opacity: 1;
      text-shadow: -2px 7px 0px rgba(0,0,0,0.15);

  }
}


#TextMoveContact {
  display: inline-block;
}

.custom-hr {
  width: 8.2ch; /* The width will match the number of characters in the word "Cart" */
  border: none;
  border-top: 1px solid black; /* Adjust the color and style as needed */
  margin-left: calc(7% -  0.5ch); /* Center the hr based on its width */
}


