/* ShopText Left right*/
.ShopTextMove{
    animation: MoveTextShop 3s forwards;
}

@keyframes MoveTextShop  {
    from {
        transform: translateX(-100%);
        opacity: 0.9;
        
        
       
    }
    to {
        transform: translateX(0);
        opacity: 1;
        text-shadow: -2px 7px 0px rgba(0,0,0,0.15);

    }
  }

  .img-ShopZpCover{
    margin-top: -10%;
    animation: PhotoCoverMove 3s forwards;
  }

  @keyframes PhotoCoverMove  {
    from {
        transform: translateX(820px) scale(0.4);
        opacity: 0;
        
        
       
    }
    to {
        transform: translateX(0);
        opacity: 1;
        text-shadow: -2px 7px 0px rgba(0,0,0,0.15);

    }
  }

/* Text shop h1 element */
  .ShopTextMove11 {
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out;
  }
  
  .ShopTextMove11.scrolled {
    transform: translateX(50%) scale(1.5);
  }